body { 
    background-color: steelblue;
}

h1{
    text-align: center;
}

#destination-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}
#destination-card {
    background: white;
    width: 200px;
    margin: 10px;
    border-radius: 8px;

}